.finepprint {
  font-size:.75rem;
  margin-top:1rem;
  color: #858585;
  line-height:1.2;
}

.rst-content .line-bloc P{
  margin-left:0;
}


.wy-table-responsive table td {
      white-space: normal !important;
}

.wy-table-responsive {
      overflow: visible !important;
}
